@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: beige;
    padding: 50px auto;
}

.box{
    width: 350px;
    height: 190px;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #fafafa;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box.show{
    transform: translateX(0);
}

.box:nth-of-type(odd){
    transform: translateX(-400%);
}