@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: beige;
    padding: 50px auto;
}

.content-block{
    width: 350px;
    height: 150px;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}